[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
beautifulsoup4 = "*"
requests = "*"
pymongo = "*"
passlib = "*"
python-dotenv = "*"
Jinja2 = ">=2.10.1"
urllib3 = ">=1.24.2"
uWSGI = "*"

[dev-packages]

[requires]
python_version = "3.9"
